body {
}
.homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 80px;
}
.directory-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-item {
    min-width: 30%;
    height: 240px;
    border: 1px solid black;

    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 7.5px 15px;

    &:first-child {
        margin-right: 7.5px;
    }
    &:last-child {
        margin-right: 7.5px;
    }
}

.content {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: 1px solid black;

    .title {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 6px;
        color: #4a4a4a
    }
    .subtitle {
        font-size: 16px;
    }
}